body {
  box-sizing: border-box;
  margin: 0;
  background-color: #faf8ef;
  width: 100%;
  height: 100%;
  font-family: "Garamond";
  overflow: hidden;
  overflow-y: scroll;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

#container {
  /*color: #36454F;*/
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#dandelion {
  position: absolute;
  width: 100%;
  z-index: -2;
}

h1 {
  font-size: 8vw;
  margin-bottom: 10px;
  margin-top: -100px;
}

h2 {
  margin-top: 0;
  font-size: 3vw
}

